force-app/main/default/flows/Crear_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignaci_n_de_Variables</name>
        <label>Asignación de Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Nombre_de_Tareas</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Bienveni@ {!Contacto}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nombre_de_Tareas</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Documentos {!Contacto}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nombre_de_Tareas</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Seguimiento {!Contacto}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_Task</name>
        <label>Asignacion Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Variable_Tipos_de_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Variable_Tipos_de_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListadeVariables</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Variable_Tipos_de_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Crear Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear Tasks</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Nombre_de_Tareas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignacion_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Task</name>
        <label>Crear Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>ListadeVariables</inputReference>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignaci_n_de_Variables</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Contacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListadeVariables</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Nombre_de_Tareas</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OPP_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Variable_Tipos_de_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
