force-app/main/default/flows/Flow_Principal_OPP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Flow Principal OPP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Principal OPP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verificar_y_Crear_Cuenta_y_Contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Crear_Tasks</name>
        <label>Crear Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enviar_Correo</targetReference>
        </connector>
        <flowName>Crear_Tasks</flowName>
        <inputAssignments>
            <name>Contacto</name>
            <value>
                <elementReference>Verificar_y_Crear_Cuenta_y_Contacto.CONTACT_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OPP_Name</name>
            <value>
                <elementReference>Verificar_y_Crear_Cuenta_y_Contacto.OPP_Name</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Enviar_Correo</name>
        <label>Enviar Correo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Enviar_Correo</flowName>
        <inputAssignments>
            <name>Contacto</name>
            <value>
                <elementReference>Crear_Tasks.Contacto</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Verificar_y_Crear_Cuenta_y_Contacto</name>
        <label>Verificar y Crear Cuenta y Contacto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_Tasks</targetReference>
        </connector>
        <flowName>SubFlow_Verificar_Crear_Account_Contact</flowName>
        <inputAssignments>
            <name>OPP_ID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OPP_Name</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ACC_Name</name>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
