force-app/main/default/flows/Opp_Ganada_Notificacion_Contrato.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_contrato_Oportunidad_Ganada</name>
        <label>Enviar contrato Oportunidad Ganada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EmailInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateApiName</name>
            <value>
                <stringValue>SignedContract_1776285479951</stringValue>
            </value>
        </inputParameters>
        <nameSegment>EmailInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>FormulaNumeroTarjeta</name>
        <dataType>String</dataType>
        <expression>&quot;4&quot; + 
LPAD(TEXT(YEAR({!$Flow.CurrentDate})), 4, &quot;0&quot;) + 
LPAD(TEXT(DAY({!$Flow.CurrentDate})), 2, &quot;0&quot;) +
LPAD(TEXT(MONTH({!$Flow.CurrentDate})), 2, &quot;0&quot;) +
LPAD(TEXT(ROUND(MOD((({!$Flow.CurrentDateTime} - DATETIMEVALUE(&quot;1900-01-01 00:00:00&quot;)) * 86400), 10000000), 0)), 7, &quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Opp Ganada - Notificacion Contrato {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp Ganada - Notificacion Contrato</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_cuenta_financiera</name>
        <label>Crear cuenta financiera</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enviar_contrato_Oportunidad_Ganada</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApprovedCreditLine__c</field>
            <value>
                <elementReference>$Record.CreditLine__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CardNumber__c</field>
            <value>
                <elementReference>FormulaNumeroTarjeta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CardType__c</field>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IssuanceDate__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Tarjeta - {!$Record.Account.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId__c</field>
            <value>
                <elementReference>$Record.ProductId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>FinancialAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_cuenta_financiera</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
